body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header-area {
  background: linear-gradient(to top, #000000c2, #00000024),
    url(./images/donation2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  position: relative;
  color: #ffffff;
}
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-title {
  font-size: 65px;

  font-weight: 700;
}
.header-para {
  margin-bottom: 30px;
}

.primary-btn {
  background-color: #ff5959;
  padding: 16px 20px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
}

/* donate area start */
.donate-area {
  padding: 130px 0;
  text-align: center;
}
.donate-amount {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  gap: 30px;
}

.donate-title {
  font-size: 45px;
  margin-bottom: 20px;
}
.donate-para {
  margin-bottom: 50px;
  line-height: 28px;
  color: #707070;
}

.donate-amount p {
  color: #707070;
  font-size: 30px;
}
.other-amount {
  margin-bottom: 15px;
  color: #707070;
}
.other-amount + hr {
  margin-bottom: 30px;
}

/* .donate-plan start  */

.donate-plan {
  text-align: center;
  padding-bottom: 130px;
}
.donate-testimonial {
  display: flex;
  text-align: left;
  gap: 20px;
}
.donate-testimonial img {
  margin-bottom: 31px;
}
.donate-testimonial h2 {
  font-size: 24px;
  margin-bottom: 16px;
}
.donate-testimonial p {
  color: #707070;
}
.item {
  border-radius: 4px;
  padding: 60px 22px;
}

.item1 {
  background: #edf5f6;
}
.item2 {
  background: #ffeeee;
}
.item3 {
  background: #fff4d6;
}

/* depend-container area  */
.depend-area {
  margin-bottom: 100px;
}
.depend-container {
  display: flex;
  gap: 100px;
  align-items: center;
}
.depend-img img {
  width: 456px;
  height: 460px;
  border-radius: 8px;
  padding-right: 50px;
}

.depend-text {
  padding: 20px 30px 20px 0;
}
.depend-text p {
  margin-bottom: 20px;
  color: #707070;
}

.remove-padding {
  padding: 20px 40px 20px 0;
}

/* .update area  */

.update-area {
  text-align: center;
}
.update-area p {
  color: #707070;
}

.submit {
  background-color: #fff4d6;
  padding: 76px 188px;
  margin: 50px 0;
}

input {
  padding: 14px 17px;
  border: 0;
  display: inline-block;
}

input[type="submit"] {
  padding: 11px 32px !important;
}

footer {
  color: #fff;
  background-color: #0b0d17;
  text-align: center;
  padding: 80px 0;
}

footer h3 {
  color: #ff5959;
  font-size: 36px;
}
